body {
  font-family: $ff-body;
  font-size: $fs-base;
  font-weight: $fw-400;
  line-height: $lh-base;
}

.display-1 {
  font-size: $fs-display-1;
}
.display-2 {
  font-size: $fs-display-2;
}
.display-3 {
  font-size: $fs-display-3;
}
.display-4 {
  font-size: $fs-display-4;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1 {font-size: $fs-h1;}
h2 {font-size: $fs-h2;}
h3 {font-size: $fs-h3;}
h4 {font-size: $fs-h4;}
h5 {font-size: $fs-h5;}
h6 {font-size: $fs-h6;}

p {
  text-wrap: pretty;
}

.text-black {
  color: $clr-black;
}
.text-white {
  color: $clr-white;
}
.text-primary {
  color: $clr-primary;
}
.text-secondary {
  color: $clr-secondary;
}
.text-success {
  color: $clr-success;
}
.text-info {
  color: $clr-info;
}
.text-warning {
  color: $clr-warning;
}
.text-danger {
  color: $clr-danger;
}

.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

@media (max-width: 576px) {  
  $fs-base: .875rem;  
}