.bg-light {
  background-color: var(--clr-light);
}
.bg-dark {
  background-color: var(--clr-dark);
}
.bg-white {
  background-color: var(--clr-white);
}
.bg-black {
  background-color: var(--clr-black);
}
.bg-primary {
  background-color: var(--clr-primary);
}
.bg-secondary {
  background-color: var(--clr-secondary);
}
.bg-success {
  background-color: var(--clr-success);
}
.bg-info {
  background-color: var(--clr-info);
}
.bg-warning {
  background-color: var(--clr-warning);
}
.bg-danger {
  background-color: var(--clr-danger);
}