body {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
  font-weight: var(--fw-400);
  line-height: var(--lh-base);
}

.display-1 {
  font-size: var(--fs-display-1);
}
.display-2 {
  font-size: var(--fs-display-2);
}
.display-3 {
  font-size: var(--fs-display-3);
}
.display-4 {
  font-size: var(--fs-display-4);
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}
h4 {font-size: var(--fs-h4);}
h5 {font-size: var(--fs-h5);}
h6 {font-size: var(--fs-h6);}

p {
  text-wrap: pretty;
}

.text-black {
  color: var(--clr-black);
}
.text-white {
  color: var(--clr-white);
}
.text-primary {
  color: var(--clr-primary);
}
.text-secondary {
  color: var(--clr-secondary);
}
.text-success {
  color: var(--clr-success);
}
.text-info {
  color: var(--clr-info);
}
.text-warning {
  color: var(--clr-warning);
}
.text-danger {
  color: var(--clr-danger);
}

.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

@media (max-width: 576px) {
  :root {
    --fs-base: .875rem;
  }
}