body {
  font-family: var(--ff-body);
  font-size: var(--fs-base);
  font-weight: var(--fw-400);
  line-height: var(--lh-base);
}

.display-1 {
  font-size: var(--fs-display-display-1);
}

.display-2 {
  font-size: var(--fs-display-display-2);
}

.display-3 {
  font-size: var(--fs-display-display-3);
}

.display-4 {
  font-size: var(--fs-display-display-4);
}

h1 {
  font-size: var(--fs-headings-h1);
}

h2 {
  font-size: var(--fs-headings-h2);
}

h3 {
  font-size: var(--fs-headings-h3);
}

h4 {
  font-size: var(--fs-headings-h4);
}

h5 {
  font-size: var(--fs-headings-h5);
}

h6 {
  font-size: var(--fs-headings-h6);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-900 {
  font-weight: var(--fw-900);
}

@media only screen and (max-width: 576px) {
  body {
    font-size: var(--fs-sm);
  }
  .display-1 {
    font-size: 5.25rem;
  }
  .display-2 {
    font-size: 4.8125rem;
  }
  .display-3 {
    font-size: 3.9375rem;
  }
  .display-4 {
    font-size: 3.0625rem;
  }
  h1 {
    font-size: 2.1875rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.53125rem;
  }
  h4 {
    font-size: 1.3125rem;
  }
  h5 {
    font-size: 1.09375rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}