.bg-light {
  background-color: $clr-light;
}
.bg-dark {
  background-color: $clr-dark;
}
.bg-white {
  background-color: $clr-white;
}
.bg-black {
  background-color: $clr-black;
}
.bg-primary {
  background-color: $clr-primary;
}
.bg-secondary {
  background-color: $clr-secondary;
}
.bg-success {
  background-color: $clr-success;
}
.bg-info {
  background-color: $clr-info;
}
.bg-warning {
  background-color: $clr-warning;
}
.bg-danger {
  background-color: $clr-danger;
}