/* COLORS */
$clr-light: #f8f9fa;
$clr-dark: #343a40;
$clr-white: #fff;
$clr-black: #000;

// color: map-get($clr-gray, "100");
$clr-gray: (
  "100": #f8f9fa,
  "200": #e9ecef,
  "300": #dee2e6,
  "400": #ced4da,
  "500": #adb5bd,
  "600": #6c757d,
  "700": #495057,
  "800": #343a40,
  "900": #212529
);

$clr-primary: #007bff;
$clr-secondary: #6c757d;
$clr-success: #28a745;
$clr-info: #17a2b8;
$clr-warning: #ffc107;
$clr-danger: #dc3545;

/* FONTS */
$ff-body: system-ui, sans-serif;

$fs-base: 1rem;
$fs-sm: $fs-base * 0.875;
$fs-lg: $fs-base * 1.25;

$fs-display-1: $fs-base * 6;
$fs-display-2: $fs-base * 5.5;
$fs-display-3: $fs-base * 4.5;
$fs-display-4: $fs-base * 3.5;

$fs-h1: $fs-base * 2.5;
$fs-h2: $fs-base * 2;
$fs-h3: $fs-base * 1.75;
$fs-h4: $fs-base * 1.5;
$fs-h5: $fs-base * 1.25;
$fs-h6: $fs-base;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;

$lh-base: 1.5;
$lh-sm: 1.25;
$lh-lg: 2;

/* LAYOUT */
$py-flex-container: 0px;
$mw-flex-container: 1400px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;