@import url('./01-utilities/variables.css');
@import url('./01-utilities/placeholders.css');
@import url('./01-utilities/colors.css');
@import url('./01-utilities/global.css');

@import url('./02-vendors/bootstrap.css');

@import url('./03-base/reset.css');
@import url('./03-base/typography.css');
@import url('./03-base/animations.css');

@import url('./04-layout/navigation.css');
@import url('./04-layout/grid.css');
@import url('./04-layout/header.css');
@import url('./04-layout/footer.css');
@import url('./04-layout/sidebar.css');
@import url('./04-layout/forms.css');

@import url('./05-components/buttons.css');
@import url('./05-components/carousel.css');
@import url('./05-components/cover.css');
@import url('./05-components/dropdown.css');
@import url('./05-components/media.css');
@import url('./05-components/thumbnails.css');

@import url('./06-pages/home.css');

@import url('./07-themes/theme.css');
@import url('./07-themes/admin.css');






:root {
  --clr-primary: #007bff;
  --clr-secondary: #6c757d;
  --clr-success: #28a745;
  --clr-info: #17a2b8;
  --clr-warning: #ffc107;
  --clr-danger: #dc3545;
}
:root:has(.darkMode) {
  --clr-primary: #00254d;
  --clr-secondary: #3b4044;
  --clr-success: #28a745;
  --clr-info: #17a2b8;
  --clr-warning: #ffc107;
  --clr-danger: #dc3545;
}

.bg-light {
  background-color: #f8f9fa;
  color: #343a40;
}

.text-light {
  color: #f8f9fa;
}

.bg-dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.text-dark {
  color: #343a40;
}

.bg-white {
  background-color: #fff;
  color: #343a40;
}

.text-white {
  color: #fff;
}

.bg-black {
  background-color: #000;
  color: #f8f9fa;
}

.text-black {
  color: #000;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-success {
  background-color: var(--clr-success);
  color: #fff;
}

.bg-info {
  background-color: var(--clr-info);
  color: #fff;
}

.bg-warning {
  background-color: var(--clr-warning);
  color: #000;
}

.bg-danger {
  background-color: var(--clr-danger);
  color: #fff;
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.text-success {
  color: var(--clr-success);
}

.text-info {
  color: var(--clr-info);
}

.text-warning {
  color: var(--clr-warning);
}

.text-danger {
  color: var(--clr-danger);
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.p-3 {
  padding: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.p-4 {
  padding: 1.5rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-5 {
  margin-left: 3rem;
}

.p-5 {
  padding: 3rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-5 {
  padding-left: 3rem;
}

.pr-5 {
  padding-right: 3rem;
}

@media only screen and (max-width: 576px) {
  .m-sm-1 {
    margin: 0.25rem;
  }
  .mx-sm-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-sm-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .mt-sm-1 {
    margin-top: 0.25rem;
  }
  .mb-sm-1 {
    margin-bottom: 0.25rem;
  }
  .ml-sm-1 {
    margin-left: 0.25rem;
  }
  .p-sm-1 {
    padding: 0.25rem;
  }
  .px-sm-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-sm-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pt-sm-1 {
    padding-top: 0.25rem;
  }
  .pb-sm-1 {
    padding-bottom: 0.25rem;
  }
  .pl-sm-1 {
    padding-left: 0.25rem;
  }
  .pr-sm-1 {
    padding-right: 0.25rem;
  }
  .m-sm-2 {
    margin: 0.5rem;
  }
  .mx-sm-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-sm-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .mt-sm-2 {
    margin-top: 0.5rem;
  }
  .mb-sm-2 {
    margin-bottom: 0.5rem;
  }
  .ml-sm-2 {
    margin-left: 0.5rem;
  }
  .p-sm-2 {
    padding: 0.5rem;
  }
  .px-sm-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-sm-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pt-sm-2 {
    padding-top: 0.5rem;
  }
  .pb-sm-2 {
    padding-bottom: 0.5rem;
  }
  .pl-sm-2 {
    padding-left: 0.5rem;
  }
  .pr-sm-2 {
    padding-right: 0.5rem;
  }
  .m-sm-3 {
    margin: 1rem;
  }
  .mx-sm-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-sm-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mt-sm-3 {
    margin-top: 1rem;
  }
  .mb-sm-3 {
    margin-bottom: 1rem;
  }
  .ml-sm-3 {
    margin-left: 1rem;
  }
  .p-sm-3 {
    padding: 1rem;
  }
  .px-sm-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-sm-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pt-sm-3 {
    padding-top: 1rem;
  }
  .pb-sm-3 {
    padding-bottom: 1rem;
  }
  .pl-sm-3 {
    padding-left: 1rem;
  }
  .pr-sm-3 {
    padding-right: 1rem;
  }
  .m-sm-4 {
    margin: 1.5rem;
  }
  .mx-sm-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-sm-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .mt-sm-4 {
    margin-top: 1.5rem;
  }
  .mb-sm-4 {
    margin-bottom: 1.5rem;
  }
  .ml-sm-4 {
    margin-left: 1.5rem;
  }
  .p-sm-4 {
    padding: 1.5rem;
  }
  .px-sm-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-sm-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pt-sm-4 {
    padding-top: 1.5rem;
  }
  .pb-sm-4 {
    padding-bottom: 1.5rem;
  }
  .pl-sm-4 {
    padding-left: 1.5rem;
  }
  .pr-sm-4 {
    padding-right: 1.5rem;
  }
  .m-sm-5 {
    margin: 3rem;
  }
  .mx-sm-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-sm-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .mt-sm-5 {
    margin-top: 3rem;
  }
  .mb-sm-5 {
    margin-bottom: 3rem;
  }
  .ml-sm-5 {
    margin-left: 3rem;
  }
  .p-sm-5 {
    padding: 3rem;
  }
  .px-sm-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-sm-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pt-sm-5 {
    padding-top: 3rem;
  }
  .pb-sm-5 {
    padding-bottom: 3rem;
  }
  .pl-sm-5 {
    padding-left: 3rem;
  }
  .pr-sm-5 {
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .m-md-1 {
    margin: 0.25rem;
  }
  .mx-md-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-md-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .mt-md-1 {
    margin-top: 0.25rem;
  }
  .mb-md-1 {
    margin-bottom: 0.25rem;
  }
  .ml-md-1 {
    margin-left: 0.25rem;
  }
  .p-md-1 {
    padding: 0.25rem;
  }
  .px-md-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-md-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pt-md-1 {
    padding-top: 0.25rem;
  }
  .pb-md-1 {
    padding-bottom: 0.25rem;
  }
  .pl-md-1 {
    padding-left: 0.25rem;
  }
  .pr-md-1 {
    padding-right: 0.25rem;
  }
  .m-md-2 {
    margin: 0.5rem;
  }
  .mx-md-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-md-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .mt-md-2 {
    margin-top: 0.5rem;
  }
  .mb-md-2 {
    margin-bottom: 0.5rem;
  }
  .ml-md-2 {
    margin-left: 0.5rem;
  }
  .p-md-2 {
    padding: 0.5rem;
  }
  .px-md-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-md-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pt-md-2 {
    padding-top: 0.5rem;
  }
  .pb-md-2 {
    padding-bottom: 0.5rem;
  }
  .pl-md-2 {
    padding-left: 0.5rem;
  }
  .pr-md-2 {
    padding-right: 0.5rem;
  }
  .m-md-3 {
    margin: 1rem;
  }
  .mx-md-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-md-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mt-md-3 {
    margin-top: 1rem;
  }
  .mb-md-3 {
    margin-bottom: 1rem;
  }
  .ml-md-3 {
    margin-left: 1rem;
  }
  .p-md-3 {
    padding: 1rem;
  }
  .px-md-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-md-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pt-md-3 {
    padding-top: 1rem;
  }
  .pb-md-3 {
    padding-bottom: 1rem;
  }
  .pl-md-3 {
    padding-left: 1rem;
  }
  .pr-md-3 {
    padding-right: 1rem;
  }
  .m-md-4 {
    margin: 1.5rem;
  }
  .mx-md-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-md-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .mt-md-4 {
    margin-top: 1.5rem;
  }
  .mb-md-4 {
    margin-bottom: 1.5rem;
  }
  .ml-md-4 {
    margin-left: 1.5rem;
  }
  .p-md-4 {
    padding: 1.5rem;
  }
  .px-md-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-md-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pt-md-4 {
    padding-top: 1.5rem;
  }
  .pb-md-4 {
    padding-bottom: 1.5rem;
  }
  .pl-md-4 {
    padding-left: 1.5rem;
  }
  .pr-md-4 {
    padding-right: 1.5rem;
  }
  .m-md-5 {
    margin: 3rem;
  }
  .mx-md-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-md-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .mt-md-5 {
    margin-top: 3rem;
  }
  .mb-md-5 {
    margin-bottom: 3rem;
  }
  .ml-md-5 {
    margin-left: 3rem;
  }
  .p-md-5 {
    padding: 3rem;
  }
  .px-md-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-md-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pt-md-5 {
    padding-top: 3rem;
  }
  .pb-md-5 {
    padding-bottom: 3rem;
  }
  .pl-md-5 {
    padding-left: 3rem;
  }
  .pr-md-5 {
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 992px) {
  .m-lg-1 {
    margin: 0.25rem;
  }
  .mx-lg-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .my-lg-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .mt-lg-1 {
    margin-top: 0.25rem;
  }
  .mb-lg-1 {
    margin-bottom: 0.25rem;
  }
  .ml-lg-1 {
    margin-left: 0.25rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .px-lg-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .py-lg-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pt-lg-1 {
    padding-top: 0.25rem;
  }
  .pb-lg-1 {
    padding-bottom: 0.25rem;
  }
  .pl-lg-1 {
    padding-left: 0.25rem;
  }
  .pr-lg-1 {
    padding-right: 0.25rem;
  }
  .m-lg-2 {
    margin: 0.5rem;
  }
  .mx-lg-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .my-lg-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .mt-lg-2 {
    margin-top: 0.5rem;
  }
  .mb-lg-2 {
    margin-bottom: 0.5rem;
  }
  .ml-lg-2 {
    margin-left: 0.5rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .px-lg-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .py-lg-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .pt-lg-2 {
    padding-top: 0.5rem;
  }
  .pb-lg-2 {
    padding-bottom: 0.5rem;
  }
  .pl-lg-2 {
    padding-left: 0.5rem;
  }
  .pr-lg-2 {
    padding-right: 0.5rem;
  }
  .m-lg-3 {
    margin: 1rem;
  }
  .mx-lg-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .my-lg-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mt-lg-3 {
    margin-top: 1rem;
  }
  .mb-lg-3 {
    margin-bottom: 1rem;
  }
  .ml-lg-3 {
    margin-left: 1rem;
  }
  .p-lg-3 {
    padding: 1rem;
  }
  .px-lg-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .py-lg-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pt-lg-3 {
    padding-top: 1rem;
  }
  .pb-lg-3 {
    padding-bottom: 1rem;
  }
  .pl-lg-3 {
    padding-left: 1rem;
  }
  .pr-lg-3 {
    padding-right: 1rem;
  }
  .m-lg-4 {
    margin: 1.5rem;
  }
  .mx-lg-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .my-lg-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .mt-lg-4 {
    margin-top: 1.5rem;
  }
  .mb-lg-4 {
    margin-bottom: 1.5rem;
  }
  .ml-lg-4 {
    margin-left: 1.5rem;
  }
  .p-lg-4 {
    padding: 1.5rem;
  }
  .px-lg-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .py-lg-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pt-lg-4 {
    padding-top: 1.5rem;
  }
  .pb-lg-4 {
    padding-bottom: 1.5rem;
  }
  .pl-lg-4 {
    padding-left: 1.5rem;
  }
  .pr-lg-4 {
    padding-right: 1.5rem;
  }
  .m-lg-5 {
    margin: 3rem;
  }
  .mx-lg-5 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .my-lg-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .mt-lg-5 {
    margin-top: 3rem;
  }
  .mb-lg-5 {
    margin-bottom: 3rem;
  }
  .ml-lg-5 {
    margin-left: 3rem;
  }
  .p-lg-5 {
    padding: 3rem;
  }
  .px-lg-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .py-lg-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .pt-lg-5 {
    padding-top: 3rem;
  }
  .pb-lg-5 {
    padding-bottom: 3rem;
  }
  .pl-lg-5 {
    padding-left: 3rem;
  }
  .pr-lg-5 {
    padding-right: 3rem;
  }
}
html {
  hanging-punctuation: first last;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 0rem;
  }
}
body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.display-1 {
  font-size: 6rem;
}

.display-2 {
  font-size: 5.5rem;
}

.display-3 {
  font-size: 4.5rem;
}

.display-4 {
  font-size: 3.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 0.875rem;
  }
  .display-1 {
    font-size: 5.25rem;
  }
  .display-2 {
    font-size: 4.8125rem;
  }
  .display-3 {
    font-size: 3.9375rem;
  }
  .display-4 {
    font-size: 3.0625rem;
  }
  h1 {
    font-size: 2.1875rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.53125rem;
  }
  h4 {
    font-size: 1.3125rem;
  }
  h5 {
    font-size: 1.09375rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}
.flex-container {
  max-width: 1400px;
  max-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
}

.flex-container-fluid {
  width: 100%;
  max-height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-row .flex-col-1,
.flex-row .flex-col-lg-1,
.flex-row .flex-col-md-1,
.flex-row .flex-col-sm-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-2,
.flex-row .flex-col-lg-2,
.flex-row .flex-col-md-2,
.flex-row .flex-col-sm-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-3,
.flex-row .flex-col-lg-3,
.flex-row .flex-col-md-3,
.flex-row .flex-col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-4,
.flex-row .flex-col-lg-4,
.flex-row .flex-col-md-4,
.flex-row .flex-col-sm-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-5,
.flex-row .flex-col-lg-5,
.flex-row .flex-col-md-5,
.flex-row .flex-col-sm-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-6,
.flex-row .flex-col-lg-6,
.flex-row .flex-col-md-6,
.flex-row .flex-col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-7,
.flex-row .flex-col-lg-7,
.flex-row .flex-col-md-7,
.flex-row .flex-col-sm-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-8,
.flex-row .flex-col-lg-8,
.flex-row .flex-col-md-8,
.flex-row .flex-col-sm-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-9,
.flex-row .flex-col-lg-9,
.flex-row .flex-col-md-9,
.flex-row .flex-col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-10,
.flex-row .flex-col-lg-10,
.flex-row .flex-col-md-10,
.flex-row .flex-col-sm-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-11,
.flex-row .flex-col-lg-11,
.flex-row .flex-col-md-11,
.flex-row .flex-col-sm-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-12,
.flex-row .flex-col-lg-12,
.flex-row .flex-col-md-12,
.flex-row .flex-col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .flex-row .flex-col-sm-1,
  .flex-row .flex-col-sm-2,
  .flex-row .flex-col-sm-3,
  .flex-row .flex-col-sm-4,
  .flex-row .flex-col-sm-5,
  .flex-row .flex-col-sm-6,
  .flex-row .flex-col-sm-7,
  .flex-row .flex-col-sm-8,
  .flex-row .flex-col-sm-9,
  .flex-row .flex-col-sm-10,
  .flex-row .flex-col-sm-11,
  .flex-row .flex-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .flex-row .flex-col-md-1,
  .flex-row .flex-col-md-2,
  .flex-row .flex-col-md-3,
  .flex-row .flex-col-md-4,
  .flex-row .flex-col-md-5,
  .flex-row .flex-col-md-6,
  .flex-row .flex-col-md-7,
  .flex-row .flex-col-md-8,
  .flex-row .flex-col-md-9,
  .flex-row .flex-col-md-10,
  .flex-row .flex-col-md-11,
  .flex-row .flex-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .flex-row .flex-col-lg-1,
  .flex-row .flex-col-lg-2,
  .flex-row .flex-col-lg-3,
  .flex-row .flex-col-lg-4,
  .flex-row .flex-col-lg-5,
  .flex-row .flex-col-lg-6,
  .flex-row .flex-col-lg-7,
  .flex-row .flex-col-lg-8,
  .flex-row .flex-col-lg-9,
  .flex-row .flex-col-lg-10,
  .flex-row .flex-col-lg-11,
  .flex-row .flex-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.align-text-top {
  vertical-align: top;
}

.align-text-middle {
  vertical-align: middle;
}

.align-text-bottom {
  vertical-align: bottom;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.btn-light {
  padding: 10px 20px;
  background-color: #f8f9fa;
  color: #343a40;
  border-radius: 15px;
  cursor: pointer;
  /* @include transition-ease(0.3s); */
}
.btn-light:hover {
  background-color: #f1f2f3;
  color: #343a40;
}

.btn-dark {
  padding: 10px 20px;
  background-color: #343a40;
  color: #f8f9fa;
  border-radius: 15px;
  cursor: pointer;
  /* @include transition-ease(0.3s); */
}
.btn-dark:hover {
  background-color: #232629;
  color: #f8f9fa;
}

.darkMode {
  color: #fff;
  background-color: #121212;
}
