.flex-container {
  max-width: var(--mw-flex-container);
  max-height: 100%;
  padding-left: var(--py-flex-container);
  padding-right: var(--py-flex-container);
  margin-right: auto;
  margin-left: auto;
}

.flex-container-fluid {
  width: 100%;
  max-height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-row .flex-col-1,
.flex-row .flex-col-lg-1,
.flex-row .flex-col-md-1,
.flex-row .flex-col-sm-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-2,
.flex-row .flex-col-lg-2,
.flex-row .flex-col-md-2,
.flex-row .flex-col-sm-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-3,
.flex-row .flex-col-lg-3,
.flex-row .flex-col-md-3,
.flex-row .flex-col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-4,
.flex-row .flex-col-lg-4,
.flex-row .flex-col-md-4,
.flex-row .flex-col-sm-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-5,
.flex-row .flex-col-lg-5,
.flex-row .flex-col-md-5,
.flex-row .flex-col-sm-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-6,
.flex-row .flex-col-lg-6,
.flex-row .flex-col-md-6,
.flex-row .flex-col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-7,
.flex-row .flex-col-lg-7,
.flex-row .flex-col-md-7,
.flex-row .flex-col-sm-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-8,
.flex-row .flex-col-lg-8,
.flex-row .flex-col-md-8,
.flex-row .flex-col-sm-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-9,
.flex-row .flex-col-lg-9,
.flex-row .flex-col-md-9,
.flex-row .flex-col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-10,
.flex-row .flex-col-lg-10,
.flex-row .flex-col-md-10,
.flex-row .flex-col-sm-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-11,
.flex-row .flex-col-lg-11,
.flex-row .flex-col-md-11,
.flex-row .flex-col-sm-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  position: relative;
  width: 100%;
}
.flex-row .flex-col-12,
.flex-row .flex-col-lg-12,
.flex-row .flex-col-md-12,
.flex-row .flex-col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .flex-row .flex-col-sm-1,
  .flex-row .flex-col-sm-2,
  .flex-row .flex-col-sm-3,
  .flex-row .flex-col-sm-4,
  .flex-row .flex-col-sm-5,
  .flex-row .flex-col-sm-6,
  .flex-row .flex-col-sm-7,
  .flex-row .flex-col-sm-8,
  .flex-row .flex-col-sm-9,
  .flex-row .flex-col-sm-10,
  .flex-row .flex-col-sm-11,
  .flex-row .flex-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .flex-row .flex-col-md-1,
  .flex-row .flex-col-md-2,
  .flex-row .flex-col-md-3,
  .flex-row .flex-col-md-4,
  .flex-row .flex-col-md-5,
  .flex-row .flex-col-md-6,
  .flex-row .flex-col-md-7,
  .flex-row .flex-col-md-8,
  .flex-row .flex-col-md-9,
  .flex-row .flex-col-md-10,
  .flex-row .flex-col-md-11,
  .flex-row .flex-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .flex-row .flex-col-lg-1,
  .flex-row .flex-col-lg-2,
  .flex-row .flex-col-lg-3,
  .flex-row .flex-col-lg-4,
  .flex-row .flex-col-lg-5,
  .flex-row .flex-col-lg-6,
  .flex-row .flex-col-lg-7,
  .flex-row .flex-col-lg-8,
  .flex-row .flex-col-lg-9,
  .flex-row .flex-col-lg-10,
  .flex-row .flex-col-lg-11,
  .flex-row .flex-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.align-text-top {
  vertical-align: top;
}

.align-text-middle {
  vertical-align: middle;
}

.align-text-bottom {
  vertical-align: bottom;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}