.btn-light {
  padding: 10px 20px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border-radius: 15px;
  cursor: pointer;  
}
.btn-light:hover {
  background-color: var(--clr-primary-shades-100);
  color: var(--clr-dark);
}

.btn-dark {
  padding: 10px 20px;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border-radius: 15px;
  cursor: pointer;  
}
.btn-dark:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}