.bg-light {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.text-light {
  color: var(--clr-light);
}

.bg-dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.text-dark {
  color: var(--clr-dark);
}

.bg-white {
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.text-white {
  color: var(--clr-white);
}

.bg-black {
  background-color: var(--clr-black);
  color: var(--clr-light);
}

.text-black {
  color: var(--clr-black);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-success {
  background-color: var(--clr-success);
  color: var(--clr-white);
}

.bg-info {
  background-color: var(--clr-info);
  color: var(--clr-white);
}

.bg-warning {
  background-color: var(--clr-warning);
  color: var(--clr-black);
}

.bg-danger {
  background-color: var(--clr-danger);
  color: var(--clr-white);
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.text-success {
  color: var(--clr-success);
}

.text-info {
  color: var(--clr-info);
}

.text-warning {
  color: var(--clr-warning);
}

.text-danger {
  color: var(--clr-danger);
}