.btn-dark {
  padding: 10px 20px;
  background-color: map-get($clr, dark);
  color: set-text-color(map-get($clr, dark));
  @include transition-ease(0.3s);
  &:hover {
    background-color: map-get($clr, light);
    color: set-text-color(map-get($clr, light));
  }
}
